@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body{
background-color: black;
color: aliceblue;
  font-family: "Chelsea Market", system-ui;
}

.cabecalho{
  background-color: rgb(226, 43, 43);
text-align: center;
   padding:20px;


}
 
